{%- comment -%}
  ----------------------------------------------------------------------------------------------------------------------
  BUY BUTTONS
  ----------------------------------------------------------------------------------------------------------------------

  This component is used to show the buy buttons

  ********************************************
  Supported variables
  ********************************************

  * product: the product from which to show the buttons (if empty, a placeholder is displayed)
  * show_payment_button: if we show or not the dynamic checkout button
  * show_gift_card_recipient: for gift card products, an optional message/email to be sent to the recipient
  * atc_button_background: the background of the ATC button
  * atc_button_text_color: the color of the ATC button
  * payment_button_background: the background of the dynamic payment button
  * payment_button_background: the color of the dynamic payment button
  * form_id: if specified, define the form ID linked to this input
{%- endcomment -%}

{%- if product != blank -%}
  {%- liquid
    assign variant_picker_block = section.blocks | where: 'type', 'variant_picker' | first
    assign recipient_feature_active = false

    if product.gift_card? and show_gift_card_recipient
      assign recipient_feature_active = true
      assign show_payment_button = false
    endif
  -%}

  <product-form>
    {%- form 'product', product, id: form_id -%}
      <select hidden name="id">
        {% for variant in product.variants %}
          <option
            value="{{ variant.id }}"
            {% if variant == current_variant %}
              selected="selected"
            {% endif %}
          >
            {{ variant.title }} - {{ variant.price | money }}
          </option>
        {% endfor %}
      </select>

      <div style="display: flex;align-items: baseline;gap: 20px;border: 1px solid;padding: 0 10px 0px 20px;border-radius: 50px;">
        <p>MENGE</p>
        <select name="quantity" id="quantity-menge">
          {% for i in (1..5) %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>

      {% liquid
        assign button_disabled = false

        if product.selected_or_first_available_variant == null
          assign button_disabled = true
          assign button_content = 'product.general.unavailable_button' | t
        elsif product.selected_or_first_available_variant.available == false
          assign button_disabled = true
          assign button_content = 'product.general.sold_out_button' | t
        else
          if product.template_suffix contains 'pre-order'
            assign button_content = 'product.general.pre_order_button' | t
          else
            assign button_content = 'product.general.add_to_cart_button' | t
          endif
        endif
      %}

      <div class="v-stack gap-4">
        <buy-buttons
          style="padding: 0;"
          class="button"
          form="{{ form_id }}"
        >
          {%- if show_payment_button and atc_button_background == blank and atc_button_text_color == blank -%}
            {%- assign atc_button_style = 'outline' -%}
          {%- else -%}
            {%- assign atc_button_style = 'solid' -%}
          {%- endif -%}

          {%- render 'button',
            content: button_content,
            type: 'submit',
            disabled: button_disabled,
            style: atc_button_style,
            background: atc_button_background,
            text_color: atc_button_text_color,
            stretch: true
          -%}

          {%- if show_payment_button -%}
            {{- form | payment_button -}}

            <style>
              #{{ form_id }} .shopify-payment-button {
                {%- if payment_button_background != blank and payment_button_background != 'rgba(0,0,0,0)' -%}
                  --button-background: {{ payment_button_background.rgb }};
                {%- endif -%}

                {%- if payment_button_text_color != blank and payment_button_text_color != 'rgba(0,0,0,0)' -%}
                  --button-text-color: {{ payment_button_text_color.rgb }};
                {%- endif -%}

                {%- unless product.selected_or_first_available_variant.available -%}
                  display: none;
                {%- endunless -%}
              }
            </style>
          {%- endif -%}
        </buy-buttons>
      </div>
    {%- endform -%}
  </product-form>
{%- else -%}
  <buy-buttons
    style="padding: 0;"
    class="buy-buttons"
    template="{{ product.template_suffix | escape }}"
    form="{{ form_id }}"
  >
    {%- assign button_content = 'product.general.add_to_cart_button' | t -%}
    {%- render 'button',
      content: button_content,
      type: 'submit',
      background: variant_picker_block.settings.atc_button_background,
      text_color: variant_picker.settings.atc_button_text_color,
      stretch: true
    -%}
  </buy-buttons>
{%- endif -%}
