{{- 'custom-product-info.css' | asset_url | stylesheet_tag: preload: true -}}
{%- capture product_form_id -%}product-form-main-{{ product.id }}-{{ section.id }}{%- endcapture -%}
<product-template class="container container--md">
  <!-- title area -->
  <div class="title-area">
    <div>
      {%- if product != blank -%}
        {%- assign product_title = product.title -%}
      {%- else -%}
        {%- assign product_title = 'general.on_boarding.product_title' | t -%}
      {%- endif -%}

      <h1 class="product-title">
        {{- product_title -}}
      </h1>
      <p>{{ product.category }}</p>
    </div>
    <p>({{ product.created_at | date: '%B %d, %Y' }})</p>
  </div>
  <!-- product info with images -->
  <div class="info-images-area">
    <div class="info-images-areaslider">
      <!-- image slider -->

      <div class="splide" id="custommain-slider">
        <div class="splide__track">
          <ul class="splide__list">
            {% for image in product.images %}
              <li class="splide__slide">
                <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}">
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="splide" id="customthumbnail-slider">
        <div class="splide__track">
          <ul class="splide__list">
            {% for image in product.images %}
              <li class="splide__slide">
                <img src="{{ image | img_url: 'compact' }}" alt="{{ image.alt }}">
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="actual-info-area">
      <div>
        {{ product.description }}
      </div>
      <!-- price and add to cart, var selector -->
      <div class="price-add-btn-area">
        <div>
          {%- if product.selected_or_first_available_variant != null -%}
            <div class="v-stack">
              {%- render 'price-list',
                product: product,
                variant: product.selected_or_first_available_variant,
                context: 'product'
              -%}

              {%- if block.settings.show_taxes_notice -%}
                <p class="text-sm text-subdued">
                  {%- if cart.taxes_included -%}
                    {{ 'product.general.taxes_included' | t }}
                  {%- else -%}
                    {{ 'product.general.taxes_excluded' | t }}
                  {%- endif -%}

                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>

        {% comment %}
          <!-- form content -->
          <!-- Variant selector -->
          <select name="id">
            {% for variant in product.variants %}
              <option
                value="{{ variant.id }}"
                {% if variant == current_variant %}
                  selected="selected"
                {% endif %}
              >
                {{ variant.title }} - {{ variant.price | money }}
              </option>
            {% endfor %}
          </select>
          <input type="text" hidden name="quantity" min="1" value="1">

          <input type="submit" class="button" value="Add to cart">
          <div style="display: flex;gap: 30px;flex-wrap: wrap;">
            <div class="v-stack gap-1 justify-items-start">
              {%- liquid
                assign variant = product.selected_or_first_available_variant
                assign quantity_rules = ''

                render 'quantity-selector', variant: variant, form: product_form_id

                if variant.quantity_rule.min > 1
                  assign rule = 'product.quantity.minimum_of' | t: min: variant.quantity_rule.min
                  assign quantity_rules = quantity_rules | append: ' / ' | append: rule
                endif

                if variant.quantity_rule.max != null
                  assign rule = 'product.quantity.maximum_of' | t: max: variant.quantity_rule.max
                  assign quantity_rules = quantity_rules | append: ' / ' | append: rule
                endif

                if variant.quantity_rule.increment > 1
                  assign rule = 'product.quantity.increment_of' | t: step: variant.quantity_rule.increment
                  assign quantity_rules = quantity_rules | append: ' / ' | append: rule
                endif
              -%}

              {%- if quantity_rules != blank -%}
                <p class="text-subdued text-sm">{{ quantity_rules | remove_first: ' / ' | capitalize }}</p>
              {%- endif -%}
            </div>
          </div>
        {% endcomment %}
        {%- render 'custom-buy-buttons',
          product: product,
          form_id: product_form_id,
          show_payment_button: false,
          show_gift_card_recipient: false,
          atc_button_background: '#000',
          atc_button_text_color: '#fff',
          payment_button_background: '#fff',
          payment_button_text_color: '#000'
        -%}
      </div>
      <!-- extra info with metafield -->
      <div class="metadata-area">
        <div class="list-container first">
          <!-- accordion -->

          {{ product.metafields.custom.product_first_lists | metafield_tag }}
          
          {% comment %} 
            <div class="accordion">
              <div class="accordion-item">
                <div class="accordion-header">Maße und Optik</div>
                <div class="accordion-content">Details zu Maße und Optik.</div>
              </div>
              <div class="accordion-item">
                <div class="accordion-header">Zubehör</div>
                <div class="accordion-content">Details zu Zubehör.</div>
              </div>
              <div class="accordion-item">
                <div class="accordion-header">Ersatzteile</div>
                <div class="accordion-content">Informationen über Ersatzteile.</div>
              </div>
              <div class="accordion-item">
                <div class="accordion-header">Kombination</div>
                <div class="accordion-content">Möglichkeiten zur Kombination.</div>
              </div>
              <div class="accordion-item">
                <div class="accordion-header">Garantie</div>
                <div class="accordion-content">Garantiebedingungen und Details.</div>
              </div>
              <div class="accordion-item">
                <div class="accordion-header">Montage</div>
                <div class="accordion-content">Anleitung zur Montage.</div>
              </div>
            </div>
          {% endcomment %}
        </div>
        <div class="list-container">
          <!-- extyra list -->

          {{ product.metafields.custom.right_side_list | metafield_tag }}
          
        </div>
      </div>
    </div>
  </div>
</product-template>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
        // slider
        var mainSlider = new Splide("#custommain-slider", {
          type: "fade",
          heightRatio: 0.75,
          pagination: false,
          arrows: true,
        });
        var thumbSlider = new Splide("#customthumbnail-slider", {
          fixedWidth: 80,
          fixedHeight: 80,
          isNavigation: true,
          gap: 10,
          arrows: false,
          pagination: false,
          cover: true,
        });
        mainSlider.sync(thumbSlider);
        mainSlider.mount();
        thumbSlider.mount();
        //acrodion
        // document.querySelectorAll(".accordion-header").forEach((header) => {
        //   header.addEventListener("click", function () {
        //     this.classList.toggle("active");
        //     const content = this.nextElementSibling;
        //     content.style.display =
        //       content.style.display === "block" ? "none" : "block";
        //   });
        // });
      });
</script>

{% schema %}
{
  "name": "custom product info",
  "class": "shopify-section--custom-product-info",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": []
}
{% endschema %}
