{{- 'custom-product-info.css' | asset_url | stylesheet_tag: preload: true -}}
{%- capture product_form_id -%}product-form-main-{{ product.id }}-{{ section.id }}{%- endcapture -%}
<product-template class="container container--md">
  <!-- title area -->
  <div class="title-area">
    <div>
      {%- if product != blank -%}
        {%- assign product_title = product.title -%}
      {%- else -%}
        {%- assign product_title = 'general.on_boarding.product_title' | t -%}
      {%- endif -%}

      <h1 class="product-title">
        {{- product_title -}}
      </h1>
      <p>
        {% if product.metafields.custom.subheading.value %}
          <div class="text-link">{{ product.metafields.custom.subheading | metafield_tag }}</div>
        {% endif %}
      </p>
    </div>
    <h4>
      {% if product.metafields.custom.artnr.value %}
        <div class="text-link">Art.-Nr.: {{ product.metafields.custom.artnr | metafield_tag }}</div>
      {% endif %}
    </h4>
  </div>
  <!-- product info with images -->
  <div class="info-images-area">
    <div class="info-images-areaslider">
      <!-- image slider -->

      <div class="splide" id="custommain-slider">
        <div class="splide__track">
          <ul class="splide__list">
            {% for image in product.images %}
              <li class="splide__slide">
                <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}">
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="splide" id="customthumbnail-slider">
        <div class="splide__track">
          <ul class="splide__list">
            {% for image in product.images %}
              <li class="splide__slide">
                <img src="{{ image | img_url: 'compact' }}" alt="{{ image.alt }}">
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    
    <div class="actual-info-area">
      <div>
        {{ product.description }}
      </div>
      <!-- price and add to cart, var selector -->
      <div class="price-add-btn-area">
        <div>
          {%- if product.selected_or_first_available_variant != null -%}
            <div class="v-stack">
              {%- render 'price-list',
                product: product,
                variant: product.selected_or_first_available_variant,
                context: 'product'
              -%}

              {%- if block.settings.show_taxes_notice -%}
                <p class="text-sm text-subdued">
                  {%- if cart.taxes_included -%}
                    {{ 'product.general.taxes_included' | t }}
                  {%- else -%}
                    {{ 'product.general.taxes_excluded' | t }}
                  {%- endif -%}

                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>

        {%- render 'custom-buy-buttons',
          product: product,
          form_id: product_form_id,
          show_payment_button: false,
          show_gift_card_recipient: false,
          atc_button_background: '#000',
          atc_button_text_color: '#fff',
          payment_button_background: '#fff',
          payment_button_text_color: '#000'
        -%}
      </div>
      <!-- extra info with metafield -->
      <div class="metadata-area">
        <div class="list-container first">
          <!-- accordion -->

          {% comment %}
            {{ product.metafields.custom.product_first_lists | metafield_tag }}
          {% endcomment %}
          <div class="accordion">
            {% if product.metafields.custom.vorteile_neu.value %}
              <div class="accordion-item">
                <div class="accordion-header">Vorteile auf einen Blick</div>
                <div class="accordion-content">
                  {{ product.metafields.custom.vorteile_neu | metafield_tag }}
                </div>
              </div>
            {% endif %}
            {% if product.metafields.custom.abmessungen.value %}
              <div class="accordion-item">
                <div class="accordion-header">Abmessungen</div>
                <div class="accordion-content">
                  {{ product.metafields.custom.abmessungen | metafield_tag }}
                </div>
              </div>
            {% endif %}

            {% if product.metafields.custom.variabel1_heading.value %}
              <div class="accordion-item">
                <div class="accordion-header">
                  {{ product.metafields.custom.variabel1_heading | metafield_tag | strip_html }}
                </div>
                <div class="accordion-content">
                  {{ product.metafields.custom.variabel1_inhalt | metafield_tag }}
                </div>
              </div>
            {% endif %}

            {% if product.metafields.custom.variabel2_heading.value %}
              <div class="accordion-item">
                <div class="accordion-header">
                  {{ product.metafields.custom.variabel2_heading | metafield_tag | strip_html }}
                </div>
                <div class="accordion-content">
                  {{ product.metafields.custom.variabel2_inhalt | metafield_tag }}
                </div>
              </div>
            {% endif %}

            {% if product.metafields.custom.variabel3_heading.value %}
              <div class="accordion-item">
                <div class="accordion-header">
                  {{ product.metafields.custom.variabel3_heading | metafield_tag | strip_html }}
                </div>
                <div class="accordion-content">
                  {{ product.metafields.custom.variabel3_inhalt | metafield_tag }}
                </div>
              </div>
            {% endif %}

            {% if product.metafields.custom.garantie.value %}
              <div class="accordion-item">
                <div class="accordion-header">Garantie</div>
                <div class="accordion-content">
                  {{ product.metafields.custom.garantie | metafield_tag }}
                </div>
              </div>
            {% endif %}

            {% comment %}
              {% if product.metafields.custom.montagenleitung.value %}
                <div class="accordion-item">
                  <div class="accordion-header">Montageanleitung</div>
                  <div class="accordion-content">
                    <a style="display: flex;align-items: center;gap: 10px;text-decoration: underline;" href="{{ product.metafields.custom.montagenleitung.value.url }}" target="_blank">
                      <img src="{{ product.metafields.custom.montagenleitung.value.preview_image | img_url: 'icon' }}" alt="{{ product.metafields.custom.montagenleitung.value.alt }}">
                      <p>{{ product.metafields.custom.montagenleitung.value.alt }}</p>
                    </a>
                  </div>
                </div>
              {% endif %}
            {% endcomment %}

            {% if product.metafields.custom.montagenleitung.value %}
              {% assign file_url = product.metafields.custom.montagenleitung.value.url %}
              {% assign file_name = file_url | split: '/' | last | split: '?' | first %}
              <div class="accordion-item">
                <div class="accordion-header">Montageanleitung</div>
                <div class="accordion-content">
                  <a
                    style="display: flex;align-items: center;gap: 10px;text-decoration: underline;"
                    href="{{ file_url }}"
                    target="_blank"
                  >
                    <img
                      src="{{ product.metafields.custom.montagenleitung.value.preview_image | img_url: 'icon' }}"
                      alt="{{ file_name }}"
                    >
                    <p>{{ file_name }}</p>
                  </a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="list-container second">
          <!-- extyra list -->

          {{ product.metafields.custom.right_side_list | metafield_tag }}
        </div>
      </div>
    </div>
  </div>
</product-template>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    // slider
    var mainSlider = new Splide('#custommain-slider', {
      type: 'fade',
      heightRatio: 0.75,
      pagination: false,
      arrows: true,
    });
    var thumbSlider = new Splide('#customthumbnail-slider', {
      fixedWidth: 80,
      fixedHeight: 80,
      isNavigation: true,
      gap: 10,
      arrows: false,
      pagination: false,
      cover: true,
    });
    mainSlider.sync(thumbSlider);
    mainSlider.mount();
    thumbSlider.mount();
    //acrodion
    document.querySelectorAll('.accordion-header').forEach((header) => {
      header.addEventListener('click', function () {
        this.classList.toggle('active');
        const content = this.nextElementSibling;
        content.style.display = content.style.display === 'block' ? 'none' : 'block';
      });
    });
  });
</script>

{% schema %}
{
  "name": "custom product info",
  "class": "shopify-section--custom-product-info",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": []
}
{% endschema %}
